<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
 
	<system.web>
		<httpRuntime maxRequestLength="2000000"/>
		<compilation debug="true"/></system.web>
	<connectionStrings>
		<add name="connection" connectionString="Data Source=J4M10-PC\SQLEXPRESS;Initial Catalog=GCB;Integrated Security=True"/><add name="GCBEntities" connectionString="metadata=res://*/fillnameModel.csdl|res://*/fillnameModel.ssdl|res://*/fillnameModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=AJO-PC;Initial Catalog=GCB;Persist Security Info=True;User ID=sa;Password=ajo;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/><add name="GCBEntities1" connectionString="metadata=res://*/filldomain.fillnameModel.csdl|res://*/filldomain.fillnameModel.ssdl|res://*/filldomain.fillnameModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=AJO-PC;Initial Catalog=GCB;Persist Security Info=True;User ID=sa;Password=ajo;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/></connectionStrings>
	<system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    
    <client>
      <endpoint address="http://localhost:4278/filldata/ServiceGCB.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11"
            contract="SilverlightApplication1.ServiceReference1.IService1"
            name="BasicHttpBinding_IService1"/>
    </client>
    

      
		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
