USE [master]
GO
/****** Object:  Database [GCB]    Script Date: 03/29/2011 10:08:21 ******/
CREATE DATABASE [GCB] ON  PRIMARY 
( NAME = N'GCB', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\GCB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GCB_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\GCB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GCB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GCB]
GO
/****** Object:  Table [dbo].[xmlfiles]    Script Date: 03/29/2011 10:08:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xmlfiles](
	[username] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[xaml] [xml] NULL,
	[editable] [nchar](10) NULL,
 CONSTRAINT [PK_xmlfiles] PRIMARY KEY CLUSTERED 
(
	[username] ASC,
	[name] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userinfo]    Script Date: 03/29/2011 10:08:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userinfo](
	[UserName] [nvarchar](150) NOT NULL,
	[PassWord] [nvarchar](150) NOT NULL,
	[emailid] [nvarchar](max) NULL,
 CONSTRAINT [PK_userinfo] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImageList]    Script Date: 03/29/2011 10:08:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageList](
	[UserName] [nvarchar](50) NOT NULL,
	[imagename] [nvarchar](50) NOT NULL,
	[relativename] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_ImageList] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC,
	[imagename] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
